.Celsius{
	 width: 33%;
    margin: auto;
    border: 3px solid blue;
    display: inline-block;
}

.Fahrenheit{
	width: 33%;
    margin: auto;
    border: 3px solid blue;
    display: inline-block;
}

