.container{
	width: 960px;
	margin: 0 auto;


}

header, main, aside, footer {
		border: solid 1px black;
		background-color: gray;
		margin: 1 auto;

}
header {
	height:100px;
	width: 100%;
	clear: none;
	margin: 5px;	
}

aside {
	height: 100px;
	border: solid 1px black;
	float: left;
	width: 48%;
}

main {
	height: 100px;
	width: 48%;
	clear: right;
	float: left;
	margin:3px;
}

footer {
	clear: both;
	height: 100px;
	width: 100%;

}
.asideleft{
	float: left;
	width: 30%;
}

.asideright{
	float: right;
	width: 20%;

}