/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
container {
  background-color: #f0efef;
  font-family: "Open Sans";

}
.clearfix {
    overflow: auto; 

}
.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0efef;
}



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

container {
  width: 960px;
  margin: auto;
  text-align: center;
  background-color: #f0efef;
}

content {

}

header {
  background-color: #033048;
  width: 100%;
  position: static;

}

article {
  width: 700px;
  background-color: #f0efef;
}
post-titles {
  font-weight: 600px;
}

p {
  color: #606161;
  font-weight: light;

}

first-letter { 
    font-size: 200%;
    color: ##606161;
}

nav {
  color: white;
  float:right;
  font-weight: 600;
  padding: 35px;


}

aside {
  color: 
  width: 240px;
  float: right;


}

.sidebarheaders {
  font-weight: 800px;
  height: 32;



}

a {
  display: inline-block;
  color: #f9e42e;
  text-decoration: none;
}

h1 {
  color: white;
  float:left;
  font-family: "Open Sans";
  padding: 45px;
  font-weight: px:
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;

}

.readmore {
  font-weight: 600px:
  text-align:right;


}

.signupnow{
  font-weight: 600px;

}

footer {
  color: #121212:
  floa


}

.adunit {
  

}

.social1{
  float: left;

}

.social2{
  float: right;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




